Assignment5/App_WebReferences/VenueRegistrationLoginService/VenueRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54785/VenueRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54785/VenueRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54785/VenueRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueRegistrationService_RegisterVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenue" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_RegisterVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueRegistrationService">
    <wsdl:operation name="RegisterVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/RegisterVenue" message="tns:IVenueRegistrationService_RegisterVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/RegisterVenueResponse" message="tns:IVenueRegistrationService_RegisterVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueLogin" message="tns:IVenueRegistrationService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueLoginResponse" message="tns:IVenueRegistrationService_VenueLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueRegistrationService" type="tns:IVenueRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterVenue">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/RegisterVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueRegistrationService">
    <wsdl:port name="BasicHttpBinding_IVenueRegistrationService" binding="tns:BasicHttpBinding_IVenueRegistrationService">
      <soap:address location="http://localhost:54785/VenueRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>