Assignment5/App_WebReferences/VenueAddShowService/VenueAddShowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueAddShowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55977/VenueAddShowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55977/VenueAddShowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55977/VenueAddShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueAddShowService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetShow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShow" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IVenueAddShowService_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueAddShowService">
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueAddShowService/AddArtist" message="tns:IVenueAddShowService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueAddShowService/AddArtistResponse" message="tns:IVenueAddShowService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueAddShowService/AddShow" message="tns:IVenueAddShowService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueAddShowService/AddShowResponse" message="tns:IVenueAddShowService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueAddShowService/GetArtist" message="tns:IVenueAddShowService_GetArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueAddShowService/GetArtistResponse" message="tns:IVenueAddShowService_GetArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueAddShowService/GetShow" message="tns:IVenueAddShowService_GetShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueAddShowService/GetShowResponse" message="tns:IVenueAddShowService_GetShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueAddShowService/GetDetails" message="tns:IVenueAddShowService_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueAddShowService/GetDetailsResponse" message="tns:IVenueAddShowService_GetDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueAddShowService" type="tns:IVenueAddShowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueAddShowService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IVenueAddShowService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueAddShowService/GetArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShow">
      <soap:operation soapAction="http://tempuri.org/IVenueAddShowService/GetShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IVenueAddShowService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueAddShowService">
    <wsdl:port name="BasicHttpBinding_IVenueAddShowService" binding="tns:BasicHttpBinding_IVenueAddShowService">
      <soap:address location="http://localhost:55977/VenueAddShowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>